<!DOCTYPE html>
<html lang="zxx">
  <head>
     <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bharat Analysis</title>
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="/vendors/aos/dist/aos.css/aos.css"/>

    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="/images/favicon.png" />

    <!-- Fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
  </head>

  <body>
    <!--Back to top-->
<div id="backtop">&#9650;</div>
    <div class="container-scroller">
      <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <header id="header">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <!-- <div class="navbar-top">
                <div class="d-flex justify-content-between align-items-center">
                  <ul class="navbar-top-left-menu"><li class="nav-item"></li></ul>
                  <ul class="navbar-top-right-menu"> <li class="nav-item"></li></ul>
                </div>
              </div> -->
              <div class="navbar-bottom">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a class="navbar-brand" href="/"><h1 style="color: white;"><b>Bharat Analysis</b></h1></a>
                  </div>
                  <div>
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                      class="navbar-collapse justify-content-center collapse"
                      id="navbarSupportedContent"
                    >
                      <ul class="navbar-nav d-lg-flex justify-content-between align-items-center">
                        <li>
                          <button class="navbar-close">
                            <i class="mdi mdi-close"></i>
                          </button>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="about">About Us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="contest">Contests</a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="blog">Blog</a>
                        </li> -->
                        <li class="nav-item">
                          <a class="nav-link" href="contact">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <ul class="navbar-top-right-menu social-media" style="padding: 10px !important; margin-bottom: 0px !important;">
                  <li class="nav-item" >
                    <div class="d-flex">
                      <span class="mr-3 text-danger"><p id="date" style="color: white !important;"></p>
                        <p id="time" style="color: white !important;"></p>
                        <script>
                        var d = new Date();
                        var days = [ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        document.getElementById("date").innerHTML = days[d.getDay()] + ", " +  months[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
                        </script></span>
                    </div>
                  </li>
                  </ul>
              </div>
              </div>
            </nav>
          </div>
        </header>

        
<div class="content-wrapper" style="padding: 10px;">
  <div class="container">
        <div class="news blue">
          <span>Trending Topics</span>
          
          <span class="text1" style = "text-transform:capitalize;">
            <marquee  Scrollamount=4 onmouseover="this.stop();" onmouseout="this.start();">
              <a style="color: white;" href="/"> <%= topics %> </a>
              &nbsp; | &nbsp; 
              <a style="color: white;" href="/topic2"> <%= topics2 %> </a>
              &nbsp; | &nbsp; 
              <a style="color: white;" href="/topic3"> <%= topics3 %> </a>
              &nbsp; | &nbsp;
              <a style="color: white;" href="/topic4"> <%= topics4 %> </a>
              &nbsp; | &nbsp;
              <a style="color: white;" href="/topic5"> <%= topics5 %> </a>
            </marquee>
          </span>
        </div>
        </div>
        </div>

